<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <% if(locals.user) { %>
        <!-- <input type="submit" placeholder="Manage Students">
        <input type="submit" placeholder="Manage Interviews"> -->
        
        <li><a href="/students/">Manage Students</a></li>
        <li><a href="/interviews/">Manage Interviews</a></li>
        
    <% } %>
    
</div>
