#sign-in-main {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #sign-in-box {
        height: 40%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        #sign-in-heading {
            color: gray;
            font-size: 3rem;
        }
    }
}
