#upd-std {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .update-st-form {
        // height:  2rem;
        // background-color: yellow;
        margin-top: 2rem;
    }

    .student-list {
        margin-top: 3rem;
        width: 60%;
        display: flex;
        flex-direction: column;

        // .student {
        //     display: flex;
        //     flex-direction: row;
        // }
        .up-st-btn {
            background-color: rgb(228, 238, 32);
            height: 2rem;
            width: 9rem;
            border-radius: 4px;
            margin-right: 2rem;

            a {
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .up-st-btn:hover {
            background-color: rgb(205, 198, 8);
        }

        .del {
            font-size: 1.2rem;

            a {
                color: rgb(252, 34, 34);
            }
        }
    }
}