#upd-std {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #upd-std .update-st-form {
    margin-top: 2rem; }
  #upd-std .student-list {
    margin-top: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column; }
    #upd-std .student-list .up-st-btn {
      background-color: #e4ee20;
      height: 2rem;
      width: 9rem;
      border-radius: 4px;
      margin-right: 2rem; }
      #upd-std .student-list .up-st-btn a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; }
    #upd-std .student-list .up-st-btn:hover {
      background-color: #cdc608; }
    #upd-std .student-list .del {
      font-size: 1.2rem; }
      #upd-std .student-list .del a {
        color: #fc2222; }
